@media (max-width: 1770px){
	.projects__card img{
		max-width: 100%;
	}
}

@media (max-width: 1392px) {
	.header__box--left{
		padding: 0px 300px 0px 0px;
	}

	.header__search-form{
		left: 63%;
		width: 500px;
	}
}

@media (max-width: 1305px) {
	.sales-leaders__items,
	.new-items__items {
		justify-content: center;
	}
}

@media (max-width: 1290px) {
	.header__box--left {
		padding: 0px 250px 0px 0px;
	}
}

@media (max-width: 1230px) {
	.header__box--left {
		padding: 0px 200px 0px 0px;
	}
	.header__search-form {
		left: 67%;
		width: 400px;
	}
}

@media (max-width: 1160px) {
		.header__box--left {
			padding: 0px 50px 0px 0px;
		}

		.header__search-form {
			left: 67%;
			width: 300px;
		}
}

@media (max-width: 1030px) {
	.header__menu{
		display: none;
	}
	.header__search-form {
		left: 55%;
	}

	.new-items{
		padding: 0; 
	}

	.categories__inner{
		height: 40px;
	}

	.categories__inner--left,
	.categories__inner--right{
		display: none;
	}

	.collections__item-wrapper{
		flex-wrap: wrap;
	}

	.collections__item-left{
		max-width: 100%;
	}
	.collections__item-right{
		max-width: 100%;
		display: flex;
		justify-content:space-between;
		align-items: center;
	}

	.footer__item{
		padding: 15px;
	}
	.slick-arrow{
		top: 30%;
	}

}
@media (max-width: 768px) {
	.menu-item.header__delivery{
		display: none;
	}
	.header__search-form {
		width: 150px;
	}
	.header__box--left{
		padding: 0px 30px 0px 0px;
	}
	.collections__item-right {
		flex-direction: column;
	}
	.collections__item-right__img img,
	.projects__card-inner img{
		max-height: 100%;
		max-width: 100%;
		object-fit: cover;
	}
	.footer__inner{
		padding: 30px;
	}
	.footer__bottom{
		padding: 0;
	}
	.projects{
		padding: 30px 0;
	}
	.sales-leaders__items,
	.new-items__items{
		margin: 0px 0px 15px 0px;
	}
	.categories__inner{
		height: 25px;
	}
	.slick-arrow{
		top: 25%;
	}
}

@media (max-width: 630px) {
	.header__phone{
		display: none;
	}
	.slider__item-info,
	.collections__item-left__info {
		left: 50px;
	}
	.header__btn-menu.icon-user{
		display: none;
	}
	.header__btn-menu{
		margin: 0px 0px 0px 10px;
	}
	.header__box--left{
		padding: 0px 200px 0px 0px;
	}
	.header__box--left.active {
		padding: 0px 250px 0px 0px;
	}
	.header__search-form{
		left: 61%;
	}
	.sales-leaders,
	.new-items{
		padding: 40px 0;
	}
}

@media (max-width: 550px) {
	.slider__title,
	.collections__item-left__title {
		font-size: 46px;
		line-height: 51px;
		margin: 0px 0px 25px 0px;
		max-width: 300px;
	}
	.slider__subtitle{
		margin: 0px 0px 15px 0px;
	}
	.header__logo{
		font-size: 20px;
	}
	
	.header__box--left {
		padding: 0px 170px 0px 0px;
	}
	.header__box--left.active {
		padding: 0px 200px 0px 0px;
	}

}

@media (max-width: 420px) {
	.header__logo {
		font-size: 16px;
	}
	.header__search-form::before {
		top: 9px;
		left: auto;
		right: 7px;
	}
	.header__search-form input {
		padding: 0px 30px 0 5px;
	}
	.header__box--left{
		padding: 0px 80px 0px 0px;
	}
	.header__box--left.active{
		padding: 0px 125px 0px 0px;
	}
	.container{
		padding: 0;
	}
	.header__search-form {
		left: 57%;
		width: 110px;
	}
	.slider__title,
	.collections__item-left__title {
		font-size: 37px;
		line-height: 40px;
		margin: 0px 0px 17px 0px;
	}
	.slider__item-info,
	.collections__item-left__info {
		left: 15px;
	}
}

